[req]
default_bits = 2048
distinguished_name = dn
req_extensions = v3_req
x509_extensions = v3_req
extensions = v3_req
prompt = no

[dn]
C = US
ST = AZ
L = Phoenix
O = Company
OU = Department
CN = someurl.test.com

[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = Server1.test.com
DNS.2 = Server2.test.com
DNS.3 = Server3.test.com

